body
{
  background-color: white;
  font-family: sans-serif;
}

a
{
  color: red ;
}

a:link 
{
 color: red;
}

a:visited 
{
  color: red;
}

a:visited
{
background-color:yellow;
} 

a:hover 
{
  color: blue;
}

a:active 
{
  color: blue;
}

#container
{
  width: 800px;
  margin: auto;
  background-color: white;
  height: 800px;
/*  border-style:solid;
  border-width:1px;*/
}

#banner
{
  padding: 5px;
  width: 790px;
  background-image:url('../images/header.png');
  height: 140px;
  color: white;
}

#user_nav
{
  float: right;
}

#content
{
  width: 800px;
  padding-top: 10px;
}

#notifications
{
  width: 235px;
  height: 800px;
  background-color: white;
  padding: 0px;
  float: right;
}

#notification_header
{
  width: 185px;
  height: 35px;
  background-image: url("../images/bc.png");
  padding-top: 15px;
  float: left;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

#notification
{
  padding: 5px;
  width: 225px;
  float: left;
  background-color: #EEEEEE;
  margin-bottom: 5px;
  font-size: 15px;
}

#league
{
  width: 550px;
  height: 600px;
  margin-right: 10px;
  background-color: white;
  float: left;
}

#navigation
{
  width: 800px;
  height: 20px;
  margin-left: 20px;
}

#league_header
{
  width: 600px;
  height: 30px;
  background-color: red;
}

#entry
{
  height: 40px;
  width: 500px;
  padding-top: 10px;
  float: left;
  margin-bottom: 5px;
  background-image: url("../images/rc.png"); 
}

#entry_header
{
  height: 40px;
  padding-top: 10px;
  width: 500px;
  background-image: url("../images/bc.png"); 
  color: white;
  float: left;
  margin-bottom: 5px;
  font-weight: bolder;
}

#entry_position
{
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 40px;
  float: left;
  font-weight: bolder;
}

#entry_name
{
  padding: 5px;
  font-size: 20px;
  width: 358px;
  height: 30px;
  margin-right: 1px;
  float: left;
  font-weight: bolder;
}

#entry_rating
{
  padding: 5px;
  font-size: 20px;
  height: 30px;
  width: 80px;
  float: left;
  text-align: right;
  font-weight: bolder;
}

h1
{
  color:black;
  text-align:center;
}

ul#list-nav 
{
  list-style:none;
  padding:0;
  margin-top: 115px;
  width:800px
}

ul#list-nav li 
{
  display:inline;
  font-weight: bolder;
}

ul#list-nav li a 
{
  text-decoration:none;
  padding:5px 0;
  width:100px;
  color:#eee;
  float:left;
  text-align:center;
  #border-left:1px solid #fff;
}

ul#list-nav li a:hover 
{
  background-color: red;
}

#bl 
{
  background-image: url("../images/bc.png");
  width: 25px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

#br
{
  background-image: url("../images/bc.png");
  width: 25px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

#rl 
{
  background-image: url("../images/rc.png");
  width: 25px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

#rr
{
  background-image: url("../images/rc.png"); 
  width: 25px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

#brn
{
  background-image: url("../images/bc.png");
  width: 25px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

#bln
{
  background-image: url("../images/bc.png");
  width: 25px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

label {
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 10px;
}

form {
  padding: 30px;
  background-image: url("../images/bc.png");
  color: white;
  height: 1000px;
}

input {
    margin-bottom: 30px;
    font-size: 12px;
}

input[type=submit] {
    float: right;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
    width 50%
}

div.note {
    font-size: 10px;
    width: 90%;
}

div.centre {
    width: 50%;
    margin: auto;
}

select {
  font-size: 18px;
  background-color: white;
}
