<div id="rl"></div>
<div id="entry">
  <div id="entry_position"><%= position %></div>
  <div id="entry_name"><center><%= name %></center></div>
  <div id="entry_rating"><%= rating %></div>
</div>
<div id="rr"></div>
