</br>
From Wikipedia, the free encyclopedia

</br>
<p>
The Elo rating system is a method for calculating the relative skill levels of players in two-player games such as chess. It is named after its creator Arpad Elo, a Hungarian-born American physics professor.

<p>
The Elo system was invented as an improved chess rating system, but today it is also used in many other games. It is also used as a rating system for multiplayer competition in a number of computer games,[1] and has been adapted to team sports including association football, American college football and basketball, and Major League Baseball.

<p>See Wikipedia for more info: <a href="http://en.wikipedia.org/wiki/Elo_rating_system">http://en.wikipedia.org/wiki/Elo_rating_system</a>
